<div>
    <h3>You received file from :- <%= senderEmail %>
    </h3>
    <p>Link expires in <%= expires %>
    </p>
    <p><small>File size :- <%= size %> </small></p>
    <p>Link :- <a href="<%= downloadLink %>">
            <%= downloadLink %>
        </a></p>
    <p>Thank you!!!</p>
</div>